.item-1 {
  display: flex;
  justify-content: flex-start;
}


.item-2 {
  display: flex;
  justify-content: flex-start;
}

.brown {
  width: 50%;
  position: fixed;
  margin-bottom: 10px;
  margin-right: 10px;
}



.item-1 {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background: orange;
}

.item-2 {
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    background: violet;

}