div {
  border: 5px solid yellow;  
}

img {
  border: 5px solid yellow;
  padding: 5px solid yellow;
  margin: 5px solid yellow;
}

.row1 {
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    justify-content: center;
}

.row3 {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    background-color: #f5c842;
}

h1 {
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}

img {
    width: 200px;
}
